#!/usr/bin/env python3
"""
Setup script for `bajada`.
"""

from setuptools import setup

setup(
    name="{project}",
    version="0.1",
    description="{description}",
    author="{name}",
    author_email="{email}",
    url="{url}",
    project_urls={{
    }},
    packages=[
        "{project}"
    ],
    scripts=[
    ],
    setup_requires=[
    ],
    install_requires=[
    ],
    tests_require=[
    ],
    python_requires=">=3.6",
)
